.language-js {
  background: #222228;
}

.token.keyword {
  color: #AAEEFF;
}
.token.function {
  color: #FFEEAA;
}
.token.parameter {
  color: #AAA;
}
.token.comment {
  color: #88EEFF;
}
.token.string {
  color: #FFAAEE;
}