p code {
  font-family: monospace;
  background: #000;
  color: #FFF;
  text-shadow: 0 0 5px #88EEFF66;
  display: inline;
  line-height: 1;
}

pre {
  color: #FFF;
  background: #222228EE;
  padding-left: 5px;
}
.language-js {
}

.token {
  color: #FFF;
}
.token.keyword {
  color: #AAEEFF;
  text-shadow: 0 0 5px #88EEFF66;
}
.token.function {
  color: #FFEEAA;
}
.token.parameter {
  color: #AAA;
}
.token.comment {
  color: #88EEFF;
  text-shadow: 0 0 5px #88EEFF66;
}
.token.number {
  color: #FFAAEE;
  text-shadow: 0 0 5px #FFAAEE99;
}
.token.string {
  color: #AAFFEE;
}
.token.punctuation {
  color: #AAA;
}

@media (prefers-color-scheme: dark) {
  pre {
    background: #22222888;
  }
}