p code {
  font-family: monospace;
  background: #222233;
  color: #fff;
  text-shadow: 0 0 5px #88eeff66;
  display: inline;
  line-height: 1;
  padding: 3px 5px;
  position: relative;
  z-index: -1;
}

pre {
  color: #fff;
  background: #222228ee;
  padding-left: 5px;
}
.language-js {
}

.token {
  color: #fff;
}
.token.keyword,
.token.selector,
.token.tag {
  color: #aaeeff;
  text-shadow: 0 0 5px #88eeff66;
}
.token.function,
.token.attr-name,
.token.property {
  color: #ffeeaa;
}
.token.parameter {
  color: #aaa;
}
.token.comment {
  color: #88eeff;
  text-shadow: 0 0 5px #88eeff66;
}
.token.number {
  color: #ffaaee;
  text-shadow: 0 0 5px #ffaaee99;
}
.token.string,
.token.attr-value {
  color: #aaffee;
}
.token.punctuation {
  color: #aaa;
}

@media (prefers-color-scheme: dark) {
  pre {
    background: #22222888;
  }
}
