.wrapper {
  display: grid;
  grid-template-columns: calc(300px + 4em) auto;
  gap: 1rem;
  max-width: 1000px;
  position: relative;
  width: 100vw;
  margin: 0 auto;
  > * {
    margin: 0;
  }
}
.header {
  padding: 0 2em;
  width: calc(300px + 4em);
}
main {
  column-count: 10;
  column-width: min(700px, 100vw);
  gap: 2em;
  margin: 0;
  max-height: calc(100vh - var(--baseline) * 4);
}
