.wrapper {
  --colWidth: calc(300px + 4em);
  --textColWidth: max(300px, min(95vw, 600px));
  display: grid;
  grid-template-columns: var(--colWidth) auto;
  gap: 1rem;
  margin: 0 auto;
  max-width: calc(var(--textColWidth) + var(--colWidth));
  position: relative;
  width: 100vw;
  > * {
    margin: 0;
  }
}
article {
  header {
    align-items: center;
    display: flex;
    height: calc(var(--baseline) * 2);
    width: 200%;
    h2,
    p {
      display: inline-block;
    }
    p {
      margin: 0 0 0 1em;
    }
  }
}
main {
  column-count: 100;
  column-width: var(--textColWidth);
  column-gap: 2em;
  column-rule: 1px solid var(--foretrans);
  gap: 2em;
  margin: 0;
  min-width: min(95vw, 600px);
  max-height: calc(100vh - var(--baseline) * 6);
}
