* {
  box-sizing: border-box;
  line-height: var(--baseline);
  margin-top: 0;
  margin-bottom: var(--baseline);
}
nav ul {
  list-style: none;
  padding: 0;
  li {
    padding-left: 1rem;
    position: relative;
    &::before {
      border-left: 2px solid var(--foretrans);
      content: "";
      display: inline-block;
      height: calc(100% - 1px);
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
a {
  position: relative;
  text-decoration: underline;
  &::after {
    content: "";
    border-top: 2px solid var(--foreground);
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    transition: width 0.2s ease-in-out;
  }
  &:hover,
  &:focus {
    &::after {
      width: 100%;
    }
  }
}
ul {
  padding-left: 1.5rem;
}
li {
  margin-bottom: 0;
}
h1,
h2,
h3,
h4,
.heading1,
.heading2,
.heading3,
.heading4 {
  margin-bottom: 0;
}
h1,
.heading1 {
  font-size: 2rem;
  line-height: calc(var(--baseline) * 2);
  font-weight: 800;

  font-optical-sizing: auto;
}
h2,
.heading2 {
  font-size: 2rem;
  line-height: calc(var(--baseline) * 2);
  font-weight: 600;
}
h3,
.heading3 {
  font-weight: 600;
}
h4,
.heading4 {
  font-weight: 600;
}
